[user]
  name = Lucas Mezêncio
  email = lucas.mezencio@gmail.com
[core]
  excludesfile = /Users/alucard/.gitignore_global
# so much color
[color]
  ui = always
[color "diff"]
  meta = yellow bold
  commit = green bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"
[color "status"]
  added = green
  changed = yellow
  untracked = cyan
[alias]
  ci = commit
  st = status -sb
  co = checkout
  hist = log --all --graph --decorate --oneline --abbrev-commit
  # this alias need to diff-so-fancy to be installed. be warned
  dsf = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy | less --tabs=4 -RFX; }; f"
[git-up "fetch"]
  all = true
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
